<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Management</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Book Management</h1>
    <a href="/books">Saved Books</a>
    <a href="/books/new">New Book</a>
  </body>
</html>
